* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    position: relative;
}

h2{
    font-size: 3rem;
}

p{
    color: #7e7e7e;
}

.btn{
    padding: 4px 30px;
    height: 40px;
    border: 0;
    border-radius: 25px;
    color: #fff;  
}

.btn-group{
    background: linear-gradient(90deg, rgba(80,79,79,1) 0%, rgba(45,45,45,1) 58%, rgba(23,23,23,1) 100%);
}

.btn-grad-btn{
    background: linear-gradient(90deg, rgba(6,217,163,1) 0%, rgba(79,221,129,1) 43%, rgba(147,224,97,1) 100%);
}

.btn-grad{
    background: linear-gradient(90deg, rgba(6,217,163,1) 0%, rgba(79,221,129,1) 43%, rgba(147,224,97,1) 100%);
    &:hover{
        opacity: 0.9;
        box-shadow: 2px 3px 12px  rgba(80,79,79,1);
        background: linear-gradient(90deg, rgba(80,79,79,1) 0%, rgba(45,45,45,1) 58%, rgba(23,23,23,1) 100%);
    }
}

.btn-black{
    background: linear-gradient(90deg, rgba(80,79,79,1) 0%, rgba(45,45,45,1) 58%, rgba(23,23,23,1) 100%);
    &:hover{
        opacity: 0.9;
        box-shadow: 2px 3px 12px  rgba(147,224,97,1);
        background: linear-gradient(90deg, rgba(6,217,163,1) 0%, rgba(79,221,129,1) 43%, rgba(147,224,97,1) 100%);
    }
}

ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
    &:hover{
        color: #7e7e7e;
    }
}

.icon i{
    font-size: 3rem;
}

i{
    cursor: pointer;
}

.fa-circle{
    color: #00d9a6;
}

.input-group{
    width: 70%;
}

.input-group input{
    border-radius: 25px;
}

.input-group input:focus{
    box-shadow: 0 0 10px .1rem #5e5c5c !important;
}

.fa-magnifying-glass{
    color: #00d9a6;
}

.coloring-text{
    color: #00d9a6;
}

.point{
    width: 7px;
    height: 5px;
    border-radius: 5px;
    opacity: 1;
    background: linear-gradient(90deg, rgba(6,217,163,1) 0%, rgba(79,221,129,1) 43%, rgba(147,224,97,1) 100%);
}

.line{
    margin-top: 0;
    border: 0;
    border-radius: 5px;
    width: 5rem;
    opacity: 1;
    background: linear-gradient(90deg, rgba(6,217,163,1) 0%, rgba(79,221,129,1) 43%, rgba(147,224,97,1) 100%);
    height: 5px;
}